/*font*/
$default-font: "Proxima Nova", sans-serif;
/*color-text*/
$accent: #0f4972;
$white: #fff;
$green: #00d68f;
$blue: #1c70ba;
$bright-blue: #3bb4ff;
$muted-green: #94b9b4;
$light-green: #f2fdf9;
$light-blue: #dae8f4;
/*color-bg*/
$bg-blue-gradient: linear-gradient(to left, #3bb4ff 0%, #132669 100%);
$bg-user-info: linear-gradient(to bottom, rgba(218,232,244,1) 0%,rgba(218,232,244,1) 1%,rgba(218,232,244,1) 65%,rgba(218,232,244,0.39) 87%,rgba(255,255,255,0) 100%);
$bg-body: #f0f6fb;
